server:
  port: 8071
spring:
  application:
   name: "configserver"
  profiles:
   active: git
  cloud:
   config:
     server:
       #native:
         #search-locations: "classpath:/config"
      git:
         uri: "https://github.com/toysroom/proxima-microservices01-config.git"
         default-label: main
         timeout: 5
         clone-on-start: true
         force-pull: true
   rabbitmq:
      host: "localhost"
      port: 5672
      username: "guest"
      password: "guest"

encrypt:
 key: "68Av1Cf0TO2FBOZ5w5SPfWyBCuLrWAzF"
 
management:
   endpoints:
     web:
       exposure:
         include: "*"
   health:
     readinessstate:
       enabled: true
     livenessstate:
       enabled: true
   endpoint:
     health:
       probes:
         enabled: true
